@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top_main {
    background-image: url(https://mirturbaz.ru/uploads/picture/pic/1183499/big_yJu0119RWyM.jpg);
  }
  .heading-big {
    padding-top: 32px;
    border: none;
  }
  .heading {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    margin-top: 46px;
  }
  .heading__cat {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    margin-top: 100px;
  }
  .heading__cart {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    margin-top: 100px;
  }
  .heading__cart__left {
    flex-wrap: wrap;
  }
  .paragraph {
    font-size: 16px;
    text-align: center;
  }
  .heading-2_style {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .for {
    margin-top: 0;
  }
  .for__block {
    display: grid;
    grid-template-columns: 1fr; /* Single column for mobile */
    gap: 16px;
  }
  .for-item1,
  .for-item2,
  .for-item3,
  .for-item4,
  .for-item5 {
    background-size: cover;
    background-position: center; /* Center the background image */
    min-height: 300px; /* Adjust min-height as needed */
  }
  .sections_for {
    height: auto; /* Adjust height as needed */
    grid-column: 1 / -1;
    margin-top: 0;
  }
  .sections_for_up {
    height: auto; /* Adjust height as needed */
  }
  .special {
    margin-top: 0;
  }
  .special__block {
    margin-top: 0;
  }
  .subject {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
  .subject-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  .product {
    margin-top: 0;
  }
  .product__block {
    margin-top: 0;
  }
  .sections {
    width: 100%;
  }
  .foot_container {
    flex-wrap: wrap;
    gap: 100px;
  }
  .contacts {
    flex-basis: auto;
  }
  .under-paragraph {
    font-family: montserrat, sans-serif;
    font-size: 14px;
    line-height: 16px;
  }
  .forms {
    padding-top: 36px;
  }
}